
body{
    background-color: rgb(232,241,232);
}


fieldset{
    background-color: rgb(229, 243, 244);
    width: 500px;
    margin: 10% 35%;
}

form label{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
}


input[type=text], input[type=password]{
    margin-left: 50px;
    width: 400px;
    background-color: rgb(243, 243, 243);
}

input[type=submit], #cancelar{
    float: right;
    margin-top: 20px;
}

select{
    margin-left: 50px;
    width: 400px;
    background-color: rgb(243, 243, 243);
}

input#agregar{
    margin-right: 45px;
}

.error{
    display: block;
    margin-left: 50px;
    font-style: italic;
    color: red;
}

div{
    clear: both;
}

#id{
    visibility: hidden;
}
http://localhost/practica04---mi-agenda-telefonica/admin/vista/admin/agregar_usuario.php?id=35
file:///D:/trabajos%20ups/trabajos%206%20ciclo/PROGRAMACION%20HIPERMEDIAL/Practica4/Pra%CC%81ctica%20de%20laboratorio%2004%20%20-%20Creacio%CC%81n%20de%20una%20aplicacio%CC%81n%20web%20usando%20PHP%20y%20Base%20de%20Datos.pdf
file:///D:/trabajos%20ups/trabajos%206%20ciclo/PROGRAMACION%20HIPERMEDIAL/5.%20PHP.pdf