body{
    background-color: rgb(232,241,232);
}


fieldset{
    background-color: rgb(229, 243, 244);
    width: 500px;
    margin: 20px 35%;
}

form label{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
}


input[type=text], input[type=password]{
    margin-left: 50px;
    width: 400px;
    background-color: rgb(243, 243, 243);
}

input[type=submit], #cancelar{
    float: right;
    margin-top: 20px;
}

select{
    margin-left: 50px;
    width: 400px;
    background-color: rgb(243, 243, 243);
}

input#agregar{
    margin-right: 45px;
}

.error{
    display: block;
    margin-left: 50px;
    font-style: italic;
    color: red;
}


div{
    clear: both;
}

th, td{
    width: 200px;
    border: solid black;
    text-align: center;
}

.ocultar{
    visibility: hidden;
}

