html{
    background-color: rgb(232,241,232);
}

:link{
    text-decoration: none;
    color: darkcyan;
}

:visited{
    color: darkcyan;
}

body p{
    text-align: justify;
}

body h1, h2, h3{
    text-align: center;
}

body h5{
    position: absolute;
    visibility: hidden;
}

header {
    width: 100%;
}

#logo_principal{
    width: 25%;   
    float: left;
}

#fieldset_busqueda{
    width: 50%;  
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    float: left;
}

.iconos{
    width: 5.5%;
    margin-top: 25px;
    float: left;
    text-align: center;
    display: block;
}

.jump{
    width: 100%;
    height: 5px;
    clear: both;
}

.navegacion_principal{
    width: 100%;
    float: left;
}

.navegacion_principal li{
    width: 33%;
    list-style-type: none;
    text-align: center;
    float: left;
}

#informacion{
    width: 100%;
    float: left;
    background-color: ivory;
    border: black solid;
}

#general{
    width: 49%;
    padding-top: 50px;
    padding-left: 3%;
    float: left;
}

#buttons{
    text-align: center;
}

#img_general{
    width: 48%;
    float: right;
}

#img_general img{
    width: 50%;
    padding: 10px 190px;
}

#img_general span{
    width: 100%;
    text-align: center;
}

#algo{
    width: 100%;
    border: black solid;
    background-color: blanchedalmond;
    float: left;
}

#algo_img{
    width: 20%;
    padding: 10px 50px;
    float: left;
}

#algo article{
    width: 68%;
    padding: 70px 20px;
    float: left;
}

#autores{
    width: 100%;
    padding-bottom: 10px;
    float: left;
    border: black solid;
    background-color: ivory;
}

#pablo{
    width: 25%;
    padding-left: 25%;
    float: left;
}

#pablo img{
    border-radius: 50px;
}

#robbyn{
    width: 25%;
    padding-right: 15%;
    float: right;
}

#robbyn img{
    border-radius: 50px;
}

.image_description{
    padding-left: 13%;
    padding-bottom: 15px;
}

footer{
    width: 100%;
    float: left;
    clear: both;
}

footer fieldset{
    width: 31%;
    float: left;
}

footer span{
    width: 100%;
    float: left;
}