/**{
    border: black solid;
}
*/
body{
    background-color: rgb(232,241,232);
}

#form1, #form2{
    width: 100%;
    background-color: rgb(229, 243, 244);
    float: left;
}

#separador{
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}

input, select{
    margin-right: 20px;
    margin-top: 10px;
    float: left;
}

#numero, #operadora, #tipo{
    margin-left: 43%;
}

#telf, #oper, #tip{
    margin-left: 43%;
}

h2{
    text-align: center;
    clear: both;
}

th, td{
    border: solid black;
}

.error{
    display: block;
    margin-left: 50px;
    font-style: italic;
    color: red;
}

#informacion{
    width: 40%;
    margin-left: 30%;
    float: left;
}

#cancelar, #agregar{
    clear: both;
    margin-left: 47.5%;
    width: 100px;
}

#agregar_telefono, #listar_telefono{
    width: 100%;
    float: left;
}

#form2 label{
    margin-top: 20px;
    display: block;
    font-weight: bold;
}

#informacion2{
    width: 45%;
    margin-left: 27.5%;
    float: left;
}

