body{
    background-color: wheat;
}

header{
    text-align: center;
}

h1{
    width: 100%;
    color: steelblue;
}

input{
    width: 40%;
    height: 400px;
    background-color: rgb(229, 243, 244);
    font-size: 180%;
    font-weight: bold;
}

input:hover{
    background-color: #FFFCBA;
}